#grid {
	display: grid;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
    grid-template-rows: 124px 124px 124px 124px 124px;
	grid-gap: 10px;
    width: 1000px;
}

.box {
	background-color: green;
	color: white;
	font-size: 2em;
	font-weight: bold;
	padding: 15px;
	display: flex;
    align-items: flex-start;
	border: none;
}

#a {
	grid-column: 1 / span 4;
}

#b {
	grid-row: 2 / span 4;
}

#c {
	grid-column: 2;
	grid-row: 2;
}

#d {
	grid-column: 3 / span 2;
	grid-row: 2;
}

#e {
	grid-column: 2 / span 2;
	grid-row: 3;
}

#f {
	grid-column: 4;
	grid-row: 3;
}

#g {
	grid-column: 2;
	grid-row: 4;
}

#h {
	grid-column: 3;
	grid-row: 4;
}

#i {
	grid-column: 4;
	grid-row: 4;
}

#j {
	grid-column: 2 / span 3;
	grid-row: 5;
}