#grid {
	display: grid;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
    grid-template-rows: 124px 124px 124px 124px 124px;
	grid-gap: 10px;
    width: 1000px;
}

.box {
	background-color: green;
	color: white;
	font-size: 2em;
	font-weight: bold;
	padding: 15px;
	display: flex;
    align-items: flex-start;
	border: none;
}

#a { grid-column: span 4 / auto; }
#b { grid-row: span 4 / auto; }
#d { grid-column: span 2 / auto; }
#e { grid-column: span 2 / auto; }
#j { grid-column: span 3 / auto; }